<style>
  footer {
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
    color: gray;
  }
</style>

<footer>
    <p>© 2020 · Created by <a href="https://www.linkedin.com/in/alexanderwu7/" class="link">Alexander Wu</a></p>
</footer>
