<!DOCTYPE html>
<html>

<head>
  <title>JobServant</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <%- include("partials/header") -%>
  <%- include(content) %>
  <%- include("partials/footer") -%>
</body>

</html>
